body {
  margin: 0;
}
/*main page*/
.game--container {
  display: flex;
  position: relative;
  max-width: 1024px;
  max-height: 860px;
  height: 100vh;
  margin: 0 auto;
}
.game--place {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  flex: 2.5;
  position: relative;
  overflow: hidden;
}
.number--place {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(134, 241, 200, 0.4);
  flex: 1;
}
/*expression*/
.circle {
  position: absolute;
  top: 0%;
  background: rgba(134, 241, 200, 0.4);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid rgba(54, 95, 79, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  z-index: 0;
}
.operation {
  position: absolute;
  left: 5px;
  top: 17px;
}
/*wave*/
.wave {
  background: url(./img/wave.svg) repeat-x;
  position: absolute;
  bottom: -30px;
  width: 5120px;
  height: 18%;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.wave2 {
  bottom: -40px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
  z-index: 10;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1280px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
/*input place*/
.num--container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(207, 143, 70, 0.548);
  box-shadow: 1px 4px 3px 2px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 50%;
}
.display--container {
  display: flex;
  flex: 1;
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.6);
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.display--input {
  border-bottom-width: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgb(158, 158, 158);
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 6rem;
}
.button-container {
  margin-bottom: 2%;
  width: 95%;
  flex: 3;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
}
.clear,
.enter {
  text-transform: capitalize;
  grid-row: span 2;
}
.del {
  text-transform: capitalize;
}
.null {
  grid-column: span 2;
}
.grid {
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
  border: 1px solid rgb(158, 158, 158);
  outline: none;
}
.grid:active {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.activate {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.num {
  font-size: 2rem;
}
.fail--text {
  position: absolute;
  color: crimson;
  font-weight: bold;
  font-size: 5rem;
  top: 40%;
  left: 40%;
  opacity: 0;
  z-index: 5;
}
.open {
  opacity: 1;
  transition: opacity 2s linear;
}
.spray {
  position: absolute;
  z-index: 1;
  animation: drop 1s ease;
}
.instruction {
  height: 50%;
  font-size: 100%;
  margin: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(92, 71, 45);
  font-weight: 600;
}
.num--active {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}
form {
  margin: 0 0 20px;
  width: 50%;
}
.play {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5%;
  border-radius: 20px;
  outline: none;
  background: linear-gradient(#ffffff, #caffff);
}
@keyframes drop {
  0% {
  }
  100% {
    transform: scale(12) rotate(45deg);
    opacity: 0;
  }
}
.but {
  position: absolute;
  bottom: 0;
  outline: none;
  border: none;
  background: white;
  color: rgb(5, 5, 5);
  cursor: pointer;
}
.full-screen {
  width: 100%;
  max-height: none;
  max-width: none;
}
.full--game--place {
  flex: 4;
}
.full--button {
  right: 0;
}
/*Screen 768px*/
@media (max-width: 768px) {
  .num--container {
    height: 40%;
  }
  .circle {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
  }
  .operation {
    position: absolute;
    left: 3px;
    top: 12px;
  }
}
/*Screen 425px*/
@media (max-width: 425px) {
  .game--container {
    flex-direction: column;
  }
  .num--container {
    height: 80%;
  }
  .button-container {
    width: 95%;
    height: 70%;
  }
  .display--container {
    height: 20%;
  }
  .circle {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .operation {
    position: absolute;
    left: 3px;
    top: 9px;
  }
  .display--input {
    font-size: 3rem;
  }
  .num {
    font-size: 1.3rem;
  }
}
@media (max-width: 414px) {
  .display--input {
    font-size: 2.2rem;
  }
  .instruction {
    margin: 0 10px;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(92, 71, 45);
    font-weight: 600;
  }
  form {
    margin: 10px 0 10px;
    width: 50%;
  }
  p {
    margin: 2px 0;
  }
  .play {
    font-size: 1.2rem;
    padding: 3%;
  }
  .fail--text {
    font-size: 2rem;
    top: 30%;
    left: 28%;
  }
}
@media (max-width: 375px) {
  .display--input {
    font-size: 2.2rem;
  }
  .instruction {
    font-size: 10px;
  }
  form {
    margin: 0px 0 5px;
  }
  .play {
    font-size: 1rem;
    padding: 2%;
  }
  .fail--text {
    left: 25%;
  }
}
@media (max-width: 320px) {
  .display--input {
    font-size: 1.8rem;
  }
}
